---
layout: default
title: Maxim Bushin
---

   <style>
   .round {
	border-radius: 50%;
    box-shadow: 0 0 0 1px #000, 0 0 5px #dbdbdb; /* Параметры теней */
   }

   .center {
    text-align: center; /* Выравнивание по центру */ 
   }
   

  </style>
  
	<br />
<br />
<br />
<div class="post">
	
	
	<p class="center"><img src="{{ '/assets/img/avatar.jpg' | prepend: site.baseurl }}"  width="150" height="150" class="round"> </p>
    <h3 class="postTitle">Bushin Maxim </h3>
	<p class="postTitle"><span style="font-size: 1.25em"> I’m interested in machine learning</span></p>
 
        
    <ul>
  		<li><a href="https://MaxBushin.github.io/#blog">Мой блог</a> и <a href="https://github.com/MaxBushin">проекты на Github</a></li>
		<li><a href="https://kaggle.com/MaxBushin">Профиль на Kaggle</a></li>
  		<li><a href="https://maxbushin.github.io/event/2020/02/21/Cert/">Курсы и сертификаты</a> Coursera, Stepik</li>
		<li>Я в социальных сетях:  <a href="https://www.linkedin.com/in/maxbushin">Linkedin</a>, <a href="https://vk.com/id60689497">VK</a></li>
		<li>Мне можно написать <a href="mailto:maxim.bushin@gmail.com">на E-mail</a> и <a href="https://t.me/madvel">в Телеграмм </a></li>
  	</ul>
    
	<!--<p class="postTitle"><span style="color: red; font-weight: bold; font-size: 1.25em">I </span></p> -->

<br />
<br />
<br />
<br />
<br />
<br />
  
<p><a name="blog"></a></p> 
<div class="home" id="home">

  <h1 class="pageTitle">Blog</h1>
  


  {% include site-search.html %}
  


  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a> 
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>





